<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/gallery.css">
        
        <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    
    <title>Gallery | Soul of India</title>
    </head> 
<body>

    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <% galleryData.forEach(item => { %>
            <div class="item" style="background-image: url('<%= item.image %>')">
                <div class="content">
                    <div class="title"><%= item.title %></div>
                    <div class="name"><%= item.topic %></div>
                    <div class="des"><%= item.des %></div>
                </div>
            </div>
            <% }); %>
        </div>

        <div class="arrows">
            <button class="prev"><</button>
            <button class="next">></button>
        </div>

        <div class="timeRunning"></div>
        

    </div>
    <script type="text/javascript" src="../assets/js/gallery.js"></script>
</body>
</html>
